<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC practice | Edit Advisor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Edit Advisor</p>

<form th:action="@{'/advisors/edit/' + ${advisorEdit.id}}" th:object="${advisorEdit}" method="PUT" th:method="PUT">
    <input type="hidden" name="_method" value="PUT" /> <!-- Hidden field to specify the request method as PUT -->
    <input type="hidden" th:field="*{id}" /> <!-- Hidden field for advisor ID -->
    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}" required/><br> <!-- Input field for advisor name -->
    <label for="age">Age:</label><br>
    <input type="number" id="age" th:field="*{age}" required/><br> <!-- Input field for advisor age -->
    <input type="submit" value="Update"/> <!-- Button to trigger the update operation -->
</form>

</body>
</html>
